@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: white !important;
        caret-color: white !important;
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}