@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: white !important;
        caret-color: white !important;
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    /* Custom Draggable Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(16, 185, 129, 0.2);
        border-radius: 20px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(16, 185, 129, 0.5);
        border: 2px solid transparent;
        background-clip: content-box;
    }
}